.lead {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media screen and (max-width: 1050px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 800px) {
  .lead {
    margin: 0 auto 88px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .lead {
    margin: 0 auto 64px;
  }
}
